<div class="btn-group">
	<button data-toggle="dropdown"
		class="btn btn-secondary dropdown-toggle margin">
		Action <span class="caret"></span>
	</button>
	<ul class="dropdown-menu">
		<li><a href="#">Action</a></li>
		<li><a href="#" class="font-bold">Another action</a></li>
		<li><a href="#">Something else here</a></li>
		<li class="divider"></li>
		<li><a href="#">Separated link</a></li>
	</ul>
</div>
{{yield}}
