{{#bs-dropdown as |dd|}}
  {{#dd.button }}{{t	title }} <span class="caret"></span>{{/dd.button}}
  {{#dd.menu as |menu|}}  
  	{{#each items as | item |}}
	  	{{#menu.item}}
	      <div class="btn-primary dropdown-item" {{action "itemSelected" item }}>{{item.name}}</div>
	    {{/menu.item}}
	{{/each}}
  {{/dd.menu}}
{{/bs-dropdown}}
{{yield}}
