<div class="form-group row">
	<label class="col-md-3 col-form-label">{{t
		title}}</label>
	<div class="col-md-9">{{input class="form-control" type="text"
		 readonly=readOnly placeholder=(t title)
		value=value}}</div>
</div>
{{yield}}
