<section class="row">
	<div class="col-sm-12">
		<section class="row">
			<div class="col-md-12 col-lg-8">
				<div class="jumbotron">
					<h1 class="mb-4">{{t "route.dashboard.information.title"}}</h1>
					<p class="lead">{{t "route.dashboard.information.description"}}</p>
					<p class="lead">
						<a class="btn btn-primary btn-lg mt-2" href="#" role="button">Learn
							more</a>
					</p>
				</div>
			</div>
		</section>
	</div>
</section>

{{outlet}}
