<div class="col-lg-12">
	<section class="row">
		<div class="col-lg-12">
				{{ai-table 
					tableDefinition=model.tableDefinition 
					items=model.layerConfigurations
					itemsToAdd=model.layerTypes
					addItem=(action "newLayer")
					itemSelected=(action "layerSelected")
				}}
		</div>
	</section>
</div>
{{outlet}}
